.scrollBox {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scrollBox__wrapper {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.scrollBox__wrapper::-webkit-scrollbar {
  display: none;
}

.scrollBox__container {
  height: 100%;
  display: flex;
  padding: 0 10px;
}

.scrollBox__container__icon {
  margin: 10px 13px;
}

.scrollBox__container__icon:last-child {
  padding-right: 15px;
}

@media screen and (min-width: 600px) {
  .scrollBox__container__icon {
    margin: 10px 10px;
  }
}
