/* ScrollBox */


.scrollBox_container__top {
  display: grid;
  place-items: center;
  min-width: 60px;
}

.scrollBox_container__top p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.55em;
  font-weight: 500;
  color: #303030;
  margin: 5px 0;
  text-align: center;
}

.scrollBox_image_circle {
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .scrollBox_container__top {
    min-width: 80px;
  }

  .scrollBox__container__icon {
    margin: 10px 10px;
  }

  .scrollBox__container__icon p {
    font-size: 0.65em;
  }
}

/* Carousel Box*/
.carouselBox_container__top {
  display: grid;
  place-items: center;
}

.carouselBox_container__top p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
  font-weight: 500;
  color: #70747a;
  margin: 5px 0;
  text-align: center;
}

.carouselBox_image_circle {
  padding: 10px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.letsShop {
  padding: 10px 20px 5px 20px;
}

.letsShop span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #20232a;
  font-size: 1.2em;
  letter-spacing: 0.5px;
}
